td
{
text-align:center;
cursor: pointer; 
padding-left:30px;
padding-right:30px;
}

.header, .header_down{
	
	cursor: pointer;
	font-size: 10px; 
	color: #333333;
	width:30px;
}


body{
	font-family: "Open sans";
	font-size:12px;
}

.feedback{
	margin-right:10px;
	color:black;
	font-size:12px;
	
}

.feedpct{
	font-family: Georgia;
	color:black;
	font-size:14px;
	margin-left:100px;
	width: 714px;
		
}
#window {
	width: 864px;
	overflow: hidden; 
	}
	
#canvas {

	width: 714px;  
	height:100px;
	margin-left: 100px;
	
	}
